
@media (max-width:3000px) and (min-width:1000px) {
.bilde1{  display: block;}
.bilde2{display: none;}
.bilde3{display: none;}
}
@media (max-width:1000px)and (min-width:700px) {
.bilde1 {display: none;}
.bilde2 {display: block;}
.bilde3{display: none;}
}
@media (max-width:700px ) and (min-width:0px)  {
.bilde1 {display:none;}
.bilde2{display: none;}
.bilde3 {display: block;}
}
